.home section.coc {
    padding-bottom: 9rem;
}

.coc {
    p + p,
    p + ul,
    ul + p {
        padding-top: 1rem;
    }

    h1 {
        text-align: center;
    }

    .container.container--medium p {
        text-align: left;
    }

    h2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    a {
        color: var(--primary-color);
        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        margin-left: 2em;
        list-style: none;
    }
    ul li {
        margin: 2rem 0;
        position: relative;
    }
    ul.charS li::before {
        content: ' ';
        background-size: cover;
        background-image: url(../../../../assets/noun_Check.svg);
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: -4rem;
    }
    ul.charN li::before {
        content: ' ';
        background-size: cover;
        background-image: url(../../../../assets/noun_X_2.svg);
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: -3rem;
    }
}
